<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>SpringBoot Demo with Postgres Database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<h2>List of Dogs</h2>
<table class="table table-dark">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
    </tr>
    </thead>
    <tr th:each="dog: ${dogs}">
        <td th:text="${dog.id}"></td>
        <td th:text="${dog.name}"></td>
        <td th:text="${dog.age}"></td>
        <td th:text="${dog.sex}"></td>
    </tr>
</table>
</body>
</html>